<div id="<%= dom_id comment %>">
  <p>
    <strong>Posted:</strong>
    <%= comment.post_id %>
    <%= comment.created_at %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

</div>
